.presentation {
    vertical-align: middle;
}

div.backgroundImage {
    background-image: url(res/images/mountains-6029596_1920.jpg);
    background-size: cover;
}

.element {
    min-height: calc(max(70vh, 600px));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;

    &:nth-child(odd) {
        background-color: white !important;
        box-shadow: 0 0 16px #00000033;
        z-index: 1;
    }

    &:nth-child(even) {
        background-color: #EEEEEE;
    }
    
    .content {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100;
    }
}

.presentation-text {
    color: #ffffff;
    text-shadow: 1px 1px 32px #00000066;
    font-size: xx-large;
    font-weight: 300;
    margin: 1em;
 
    strong {
        font-weight: bold !important;
        color: #ffffff !important;
    }
}

#slider {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    #slider-element {
        max-width: 100%;
        max-height: 100%;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#slider:hover :is(#precedent, #suivant) {
    opacity: 1;
}

#precedent, #suivant {
    cursor: pointer;
    transition: opacity 0.2s ease;
    opacity: 0;
    position: absolute;
    background-color: #405B5C;
    padding: 32px 10px;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#precedent {
    left: 0;
}

#suivant {
    right: 0;
}

.staff {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1em;

    .card {
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        img {
            align-self: center;
            transition: transform 0.5s;
            width: 200px;
            &:hover {
                transform: scale(1.2, 1.2);
            }
        }

        h2 {
            color: #263636;
        }

        p {
            font-size: large;
        }
    }
}

.map-displayer {
    display: block !important;
    height: 100%;
    width: 80%;
    min-width: 200px;
    margin: 2em;
    box-sizing: content-box;
    border-radius: 8px;

    animation: floating-object 6s;
    animation-iteration-count: infinite;
    &:hover {
        animation: none;
        box-shadow: 0 0 16px #00000033;
        transform: scale(1.01, 1.01);
    }
}

@keyframes floating-object {
    0% {
        transform: scale(1, 1);
        box-shadow: 0px 0px 3px #00000033;
    }
    50% {
        transform: scale(1.01, 1.01);
        box-shadow: 0px 0px 16px #00000033;
    }
    100% {
        transform: scale(1, 1);
        box-shadow: 0px 0px 3px #00000033;
    }
}

.rounded-corner {
    border-radius: 16px;
}

.centered-text {
    text-align: center;
}
